* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Monda'
}

.first_section {
    height: 400px;
    background: #2b3a42;
}

.navigation {
    display: flex;
    justify-content: space-between;
    height: 60px;
    position: fixed;
    width: 100%;
    background: #344249;
    z-index:1;
}

.logo_and_bars {
    margin: auto 20px
}

.navigation_logo {
    font-size: 25px;
    letter-spacing: 2px;
    font-family: sans-serif;
    cursor: context-menu;
    color: #fff
}

.navigation_links {
    width: 600px;
    margin: auto 35px auto 0
}

.navigation_unordered_list {
    display: flex;
    justify-content: space-between
}

.navigation_unordered_list li {
    list-style-type: none
}

.nav_links {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 1px;
    padding-bottom: 5px;
    border: 1px solid transparent
}

.nav_links:hover {
    color: #d2d2d2;
    border-bottom: 1px solid #fff;
    transition: .5s
}

.under_nav_text_and_act {
    padding-top: 160px;
    color: #fff;
    text-align: center;
    letter-spacing: 1px
}

.type {
    margin-left: 10px;
    font-size: 16px
}

.undr_nav_txt_p {
    font-size: 22px;
    padding-bottom: 50px
}

.undr_nav_btn {
    font-size: 16px;
    padding: 10px 10px;
    border: 1.5px solid #fff;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    font-family: sans-serif
}

.undr_nav_btn:hover {
    background-color: #fff;
    color: #2b3a42
}

@media screen and (max-width:1040px) {
    .navigation {
        display: block
    }

    .logo_and_bars {
        height: 100%;
        display: flex;
        justify-content: space-between
    }

    .all_bars,
    .navigation_logo {
        margin: auto 0;
        cursor: pointer
    }

    .signle_bars {
        height: 3px;
        width: 25px;
        margin: 5px;
        background-color: #fff
    }

    .navigation_links {
        width: 100%;
        padding: 50px 0;
        background-color: #2b3a42;
        transition: .5s;
        transform: translateX(1070px);
        border-bottom-left-radius: 15%
    }

    .on_click_navigation {
        transform: translateX(0);
        transition: .5s
    }

    .navigation_unordered_list {
        display: block;
        text-align: center
    }

    .navigation_unordered_list li {
        padding: 10px
    }

    .nav_links {
        font-size: 18px
    }

    .nav_links:hover {
        color: #d2d2d2;
        border: none;
        transition: .5s
    }
}

.secound_section {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
}

.ss_pic_s,
.ss_skill {
    display: block;
    margin: auto 0px;
    width: 300px;
    text-align: center;
}

.about_sec_img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    z-index:0;
}

.ss_img_tle {
    font-size: 20px;
    letter-spacing: 2px;
    margin: 20px 0px 10px 0px;
    padding-bottom: 5px;
    border-bottom: 2px solid #203a429a;
    color: #203a42;
}

.ss_img_des {
    font-size: 16px;
    color: #203a42;
}

.skill_ttle {
    text-align: center;
    margin: 30px 0px;
    letter-spacing: 1px;
}

.ss_skill p {
    margin: 5px;
    text-align: left;
}

/* per centages */
.hc_skill,
.js_skill,
.rct_skill,
.bstp_skill,
.wp_skill,
.njs_skill,
.mdb_skill,
.ws_skill {
    height: 3px;
    background-color: #203a42;
}

/* responsive */
@media screen and (max-width:750px) {
    .secound_section {
        display: block;
        padding: 50px 20px;
    }

    .ss_pic_s,
    .ss_skill {
        display: block;
        margin: 0px auto;
    }

    .skill_ttle {

        margin: 70px 0px 30px 0px;

    }
}
