* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth
}

body {
    font-family: Monda
}

.nav_fs {
    height: 400px
}

.wth_out_wlcm {
    height: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 1;
}
.nav_shadow{
    box-shadow: 0px 0px 12px 0px rgba(82,74,74,0.75);
    -webkit-box-shadow: 0px 0px 12px 0px rgba(82,74,74,0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(82,74,74,0.75);
}
.logo {
    font-size: 28px;
    letter-spacing: 1px;
    color: #2b3a42;
    cursor: default;
    font-family: sans-serif;
    margin-left: 50px
}

.logo_bars,
nav {
    display: block;
    margin: auto 0
}

nav {
    width: 550px;
    margin-right: 100px
}

ul {
    display: flex;
    justify-content: space-between
}

li {
    list-style-type: none
}

li a {
    text-decoration: none;
    font-size:17px;
    color: #2b3a42;
    letter-spacing: 1px;
    padding-bottom: 5px
}

li a:hover {
    border-bottom: 2px solid #2b3a42
}

.wclm_c_to_act {
    text-align: center;
    padding: 0 30px
}

.wlcm {
    padding: 160px 0 60px 0;
    color: #2b3a42;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 22px
}

.wlcm_spn {
    color: #ef8172
}

.ctoact {
    padding: 10px;
    background-color: #ef8172;
    color: #ffff;
    text-decoration: none;
    border-radius: 5px
}

.ctoact:hover {
    background-color: #2b3a42;
    transition: .5s
}

@media screen and (max-width:750px) {
    .wth_out_wlcm {
        display: block
    }

    .logo_bars {
        height: 100%;
        display: flex;
        justify-content: space-between
    }

    .bar {
        height: 3px;
        width: 25px;
        margin: 5px;
        background-color: #2b3a42
    }

    .bars,
    .logo {
        margin: auto 30px
    }

    .bars {
        cursor: pointer
    }

    nav {
        width: 100%;
        background-color: #2b3a42;
        text-align: center;
        transform: translateX(2000px);
        transition: .5s
    }

    ul {
        display: block;
        padding: 50px
    }

    li {
        padding: 15px
    }

    li a {
        color: #fff
    }

    li a:hover {
        color: #d2d2d2
    }

    .on_click_navigation {
        transform: translateX(0);
        transition: .5s
    }

    .fstbr {
        width: 20px;
        transition: .5s
    }

    .mdlbr {
        width: 15px;
        transition: .5s
    }
}

.about_sec {
    background: linear-gradient(to right,#2193b0 , #6dd5ed);
    color: #2b3a42;
    text-align: center;
    padding: 100px 80px
}

.abut_des {
    font-size: 18px;
    letter-spacing: 1px;
    width: 600px;
    margin: 0 auto
}

.own_img {
    height: 150px;
    width: 150px;
    padding-bottom: 20px;
    border-radius: 100%
}

.about_name_mine {
    font-size:27px;
    font-weight: 700;
    letter-spacing:2px;
    padding-bottom:5px;
}

@media screen and (max-width:750px) {
    .about_sec {
        padding: 100px 30px
    }

    .abut_des {
        width: 280px
    }
}

.pjt_sec {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    text-align: center
}

#projects {
    padding: 80px 0
}

.pjt {
    width: 300px;
    color: #2b3a42;
    margin: 0px 50px;
}

.pjt_ttle {
    font-size: 23px;
    margin-bottom: 20px;
    font-weight:600;
}

.pjt_des {
    font-size: 16px;
    margin-bottom: 20px
}

.pjt_ttle_mn {
    text-align: center;
    font-size: 35px;
    color: #2b3a42;
}

.live_dmo {
    padding: 7px 10px;
    background-color: #2b3a42;
    color: #fff;
    text-decoration: none;
    border-radius: 3px
}

.live_dmo:hover {
    color: #d2d2d2
}

@media screen and (max-width:1000px) {
    .pjt_sec {
        display: block;
        margin-top: 70px
    }

    .pjt {
        width: 65%;
        margin: 80px auto
    }

    #projects {
        padding: 50px 0
    }

    .pjt_des {
        margin-bottom: 15px
    }

    .pjt_ttle {
        margin-bottom: 10px
    }
}

.cntc_Sec_card {
    background: linear-gradient(to right,#2193b0 , #6dd5ed);
}

.cntct_sec {
    padding: 70px 20px 0 20px
}

.name_email {
    display: flex;
    justify-content: space-around
}

.inpt_email,
.inpt_txt {
    height: 25px;
    width: 350px;
    margin-bottom: 70px;
    background-color: transparent;
    border: none;
    letter-spacing: 1px;
    border-bottom: 2px solid #fff;
    font-size: 18px;
    color: #2b3a42;
    text-align: center
}

.txtarea {
    resize: none;
    padding: 20px;
    font-size: 20px;
    color: #2b3a42;
    display: block;
    margin: 0 auto;
    border-radius: 10px
}

.btn {
    height: 45px;
    width: 120px;
    letter-spacing: 2px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    display: block;
    margin: 30px auto;
    background-color: #2b3a42;
    color: #fff
}

.btn:hover {
    background-color: #444
}

.cntc_sec_ttle {
    font-size: 35px;
    color: #2b3a42;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 70px
}

@media screen and (max-width:950px) {
    .name_email {
        display: block;
        margin: 0 auto;
        text-align: center
    }

    .inpt_email,
    .inpt_txt {
        width: 280px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px
    }

    .txtarea {
        width: 80%;
        font-size: 16px
    }
}

footer p {
    text-align: center;
    color: #d2d2d2;
    background-color: #2b3a42;
    padding: 5px 0
}

.cntc_Sec_card {
    padding: 70px 0
}

.main_card {
    display: flex;
    justify-content: space-between;
    font-family: Monda, sans-serif
}

.fa-envelope,
.fa-home,
.fa-phone-alt,
.fa-users {
    font-size: 40px;
    background: #a8ff78;
    background: -webkit-linear-gradient(to bottom, #78ffd6, #a8ff78);
    background: linear-gradient(to bottom, #78ffd6, #a8ff78);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    padding: 30px 0 0 0
}

.card_1 {
    height: 200px;
    width: 300px;
    background-color: #444;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    transition: .5s
}

.card_1:hover {
    transition: .5s;
    transform: scale(1.05)
}

.card_des {
    letter-spacing: 1.5px;
    font-size: 14px;
    color: #d2d2d2;
    padding-top: 10px
}

.card_title {
    letter-spacing: 1px;
    font-size: 27px;
    color: #fff;
    padding-top: 15px
}

.social_links {
    padding-top: 15px
}

.fa-twitter:hover {
    color: #1c9deb
}

.fa-github:hover {
    color: #000
}

.fa-github,
.fa-twitter {
    color: #fff;
    font-size: 20px
}

.fa-twitter {
    margin-right: 30px
}

.first_two_card,
.last_two_card {
    width: 50%;
    display: flex;
    justify-content: space-around
}

@media screen and (max-width:1040px) {
    .main_card {
        display: block
    }

    .first_two_card,
    .last_two_card {
        width: 100%
    }
}

@media screen and (max-width:630px) {
    .main_card {
        display: block
    }

    .first_two_card,
    .last_two_card {
        display: block
    }

    .card_1 {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #d2d2d2;
  }
  ::-webkit-scrollbar-thumb {
    background: #444;
    border-radius:30px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }