* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Monda';
}

.nav_fs {
    height: 400px;
}

.wth_out_wlcm {
    height: 50px;
    display: flex;
    justify-content: space-between;
    width:100%;
    position:fixed;
}

.logo {
    font-size: 28px;
    letter-spacing: 1px;
    color: #2b3a42;
    cursor: default;
    font-family: sans-serif;
    margin-left:50px;
}

.logo_bars,
nav {
    display: block;
    margin: auto 0px;
}

nav {
    width: 350px;
    margin-right:50px;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    font-size: 16px;
    color: #2b3a42;
    letter-spacing: 1px;
    padding-bottom: 5px;
}

li a:hover {
    border-bottom: 2px solid #2b3a42;
}

.wclm_c_to_act {
    text-align: center;
}

.wlcm {
    padding: 160px 30px 60px 30px;
    color: #2b3a42;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 22px;
}

.wlcm_spn {
    color: #ef8172;
}

.ctoact {
    padding: 10px;
    background-color: #ef8172;
    color: #ffff;
    text-decoration: none;
    border-radius: 5px;
}

.ctoact:hover {
    background-color: #fd6a57;
}

/* responsive first section */
@media screen and (max-width:750px) {
    .wth_out_wlcm {
        display: block;
    }
    .logo_bars
    {
        height:100%;
        display:flex;
        justify-content:space-between;
    }
    .bar
    {
        height:3px;
        width:25px;
        margin:5px;
        background-color: #2b3a42;
    }
    .logo,
    .bars{
        margin: auto 30px;
    }
    .bars
    {
        cursor:pointer;
    }
    nav 
    {
        width:100%;
        background-color: #2b3a42;
        padding-left:50px;
        border-bottom-left-radius:30px;
        transform:translateX(2000px);
        transition:.5s;
    }
    ul
    {
        display:block;
        padding:50px;
    }
    li
    {
        padding:15px;
    }
    li a 
    {
        color:#fff;
    }
    li a:hover
    {
        color:#d2d2d2;
    }
}