* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}
body {
  font-family: "Monda";
}
.nav_fs {
  height: 400px;
}
.wth_out_wlcm {
  height: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
}
.logo {
  font-size: 28px;
  letter-spacing: 1px;
  color: #2b3a42;
  cursor: default;
  font-family: sans-serif;
  margin-left: 50px;
}
.logo_bars,
nav {
  display: block;
  margin: auto 0px;
}
nav {
  width: 350px;
  margin-right: 50px;
}
ul {
  display: flex;
  justify-content: space-between;
}
li {
  list-style-type: none;
}
li a {
  text-decoration: none;
  font-size: 16px;
  color: #2b3a42;
  letter-spacing: 1px;
  padding-bottom: 5px;
}
li a:hover {
  border-bottom: 2px solid #2b3a42;
}
.wclm_c_to_act {
  text-align: center;
  padding: 0px 30px;
}
.wlcm {
  padding: 160px 0px 60px 0px;
  color: #2b3a42;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 22px;
}
.wlcm_spn {
  color: #ef8172;
}
.ctoact {
  padding: 10px;
  background-color: #ef8172;
  color: #ffff;
  text-decoration: none;
  border-radius: 5px;
}
.ctoact:hover {
  background-color:#2b3a42;
  transition:.5s;
}
/* responsive first section */
@media screen and (max-width: 750px) {
  .wth_out_wlcm {
    display: block;
  }
  .logo_bars {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .bar {
    height: 3px;
    width: 25px;
    margin: 5px;
    background-color: #2b3a42;
  }
  .logo,
  .bars {
    margin: auto 30px;
  }
  .bars {
    cursor: pointer;
  }
  nav {
    width: 100%;
    background-color: #2b3a42;
    text-align:center;
    transform: translateX(2000px);
    transition: 0.5s;
  }
  ul {
    display: block;
    padding: 50px;
  }
  li {
    padding: 15px;
  }
  li a {
    color: #fff;
  }
  li a:hover {
    color: #d2d2d2;
  }
  .on_click_navigation {
    transform: translateX(0px);
    transition: 0.5s;
  }
  .fstbr {
    width: 20px;
    transition:.5s;
  }
  .mdlbr {
    width: 15px;
    transition:.5s;
  }
}
/* about section */
.about_sec
{
  background-color:#00cdac;
    color:#2b3a42;
    text-align:center;
    padding:100px 80px;
}
.abut_des
{
    font-size:18px;
    letter-spacing:1px;
    width:600px;
    margin:0px auto;
}
.own_img
{
    height:150px;
    width:150px;
    padding-bottom:20px;
    border-radius:100%;
}
.about_name_mine
{
  font-size:30px;
  font-weight:bold;
  letter-spacing:2px;
}
/* responsive about section */
@media screen and (max-width:750px){
    .about_sec
{
    padding:100px 30px;
}
.abut_des
{
  width:280px;
}
}
/* projects section */
.pjt_sec
{
  display:flex;
  justify-content:space-between;
  margin-top:100px;
  text-align: center;
}
#projects{
  padding:80px 0px;
}
.pjt
{
  width:300px;
  color: #2b3a42;
}
.pjt_ttle
{
  font-size:23px;
  margin-bottom:20px;
}
.pjt_des
{
  font-size:16px;
  margin-bottom:20px;
}
.pjt_ttle_mn
{
  text-align: center;
  font-size:35px;
  color: #2b3a42;

}
.live_dmo
{
  padding:7px 10px;
  background-color: #2b3a42;
  color:#fff;
  text-decoration: none;
  border-radius:3px;
}
.live_dmo:hover
{
  color: #d2d2d2;
}
/* responsive */
@media screen and (max-width:1000px)
{
  .pjt_sec
{
  display:block;
  margin-top:70px;
}
.pjt
{
  width:65%;
  margin:50px auto;
}
#projects{
  padding:50px 0px;
}
.pjt_des
{
  margin-bottom:15px;
}
.pjt_ttle
{
  margin-bottom:10px;
}
}
/* contact section */
.cntct_sec
{
  background-color: #00cdac;
  padding:70px 50px;
}
.name_email
{
  display:flex;
  justify-content:space-around;
}
.inpt_txt,
.inpt_email
{
height:25px;
width:350px;
margin-bottom:70px;
background-color:transparent;
border:none;
letter-spacing:1px;
border-bottom:2px solid #fff;
font-size:18px;
color:#2b3a42;
text-align:center;
}
.txtarea
{
  resize: none;
  padding:20px;
  font-size:20px;
  color: #2b3a42;
  display:block;
  margin: 0px auto;
  border-radius:10px;
}
.btn
{
  height:45px;
  width:120px;
  letter-spacing:2px;
  cursor: pointer;
  border:none;
  font-size:16px;
  border-radius:5px;
  display:block;
  margin: 30px auto;
  background-color:#2b3a42;
  color:#fff;
}
.btn:hover
{
  background-color: #444;
}
.cntc_sec_ttle
{
  font-size:35px;
  color: #2b3a42;
  letter-spacing:1px;
  text-align:center;
  margin-bottom:100px;
}
/* responsive */
@media screen and (max-width:950px){
  .name_email
{
display: block;
margin: 0px auto;
text-align: center;
}
.inpt_txt,
.inpt_email
{
width:280px;
display: block;
margin-left: auto;
margin-right: auto;
font-size:16px;
}
.txtarea
{
width:80%;
font-size:16px;
}
.cntc_sec_ttle
{
  margin-bottom:70px;
}
}
/* footer */
footer p 
{
  text-align: center;
  color: #d2d2d2;
  background-color: #2b3a42;
  padding:5px 0px;
}
