@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.active{
  color: #29303b !important;
  opacity:.5;
}
.selected{
  color: rgba(255, 255, 255, 0.3) !important;
}
@media screen and (max-width:1024px) {
  .active{
    color: #ffffff !important;
    opacity:.5;
  }
}
.swiper-container {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
  }
  
  /* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
  