@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.active{
  color: #29303b !important;
  opacity:.5;
}
.selected{
  color: rgba(255, 255, 255, 0.3) !important;
}
.selected:hover{
  color: rgba(139, 92, 246, 1) !important;
}
@media screen and (max-width:1024px) {
  .active{
    color: #ffffff !important;
    opacity:.5;
  }
}





.swiper-pagination {
  margin-right:48px;
}



.swiper-pagination-bullet{
background-color: rgba(139, 92, 246,1) !important;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}