@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.active{
  color: #29303b !important;
  opacity:.5;
}
@media screen and (max-width:1024px) {
  .active{
    opacity:.5;
  }
}

.selected{
  color: rgba(255, 255, 255, 0.3) !important;
}
.selected:hover{
  color: rgba(139, 92, 246, 1) !important;
}


