@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



.global-padding {
  @apply md:px-12 sm:px-8 px-4
}

.global-text{
  @apply tracking-wider font-semibold
}
.demo{
  color: #2a313c40;
}