@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Baloo Bhai 2', cursive;
}
.word-space-5{
    word-spacing:5px;
}