@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body{
    font-family: 'Baloo Bhai 2', cursive;
}
.word-space-5{
    word-spacing:5px;
}
.card{
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.39);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.39);
}
